<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<aside class="sidebar">
  <div class="sidebar-header">
    <a routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="Pop&Corn Logo">
    </a>
    <button class="toggle-button" (click)="toggleSidebar()">
      <span class="material-icons">
        {{ isCollapsed() ? 'menu' : 'menu_open' }}
      </span>
    </button>
  </div>

  
  <div class="profile-section" *ngIf="authService.isAuthenticated()">
    <img [src]="authService.currentUser()?.avatarUrl" alt="Avatar do utilizador" class="profile-avatar">
    <div class="profile-info">
      <span class="profile-name">{{ authService.currentUser()?.name }}</span>
      <a routerLink="/perfil" class="profile-link">Ver perfil</a>
    </div>
  </div>


  <nav class="menu">
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="material-icons">theaters</span>
          <span class="nav-text">Em Cartaz</span>
        </a>
      </li>
      
      <li *ngIf="authService.isAuthenticated()">
        <a routerLink="/meus-pedidos" routerLinkActive="active">
          <span class="material-icons">receipt_long</span>
          <span class="nav-text">Meus Pedidos</span>
        </a>
      </li>

      <ng-container *ngIf="authService.isAdmin()">

        <li>
          <a routerLink="/admin/gerir-sessoes" routerLinkActive="active">
            <span class="material-icons">schedule</span>
            <span class="nav-text">Gerir Sessões</span>
          </a>
        </li>
      </ng-container>


       <ng-container *ngIf="authService.isMaster()">
        <li>
          <a routerLink="/admin/gerir-filmes" routerLinkActive="active">
            <span class="material-icons">movie_edit</span>
            <span class="nav-text">Gerir Filmes</span>
          </a>
        </li>  
        <li>
            <a routerLink="/master/gerir-cinemas" routerLinkActive="active">
              <span class="material-icons">store</span>
              <span class="nav-text">Gerir Cinemas</span>
            </a>
          </li>
          <li>
            <a routerLink="/master/gerir-admins" routerLinkActive="active"> 
              <span class="material-icons">manage_accounts</span>
              <span class="nav-text">Gerir Admins</span>
            </a>
          </li>
          <li>
            <a routerLink="/master/dashboard" routerLinkActive="active">
              <span class="material-icons">bar_chart</span>
              <span class="nav-text">Dashboard</span>
            </a>
          </li>
          
      </ng-container>
    </ul>
  </nav>

  <div class="logout-section">
    <a *ngIf="authService.isAuthenticated()" (click)="authService.logout()">
      <span class="material-icons">logout</span>
      <span class="nav-text">Sair</span>
    </a>
    <a *ngIf="!authService.isAuthenticated()" routerLink="/login">
      <span class="material-icons">login</span>
      <span class="nav-text">Login</span>
    </a>
  </div>
</aside>