<a [routerLink]="['/movie', movie.id]" class="card-link">
  <div class="movie-card">
    <div class="image-container">
      <img [src]="movie.image" alt="{{ movie.title }}" />
      <span class="tag-age" *ngIf="movie.ageRating">{{ movie.ageRating }}</span>
    </div>

    <div class="movie-info">
      <h3 class="title" title="{{ movie.title }}">{{ movie.title }}</h3>
      <p class="genre" title="{{ movie.genre }}">{{ movie.genre }}</p>
      <p class="duration">{{ movie.duration }}</p>
      
      <div class="rating">
        <span class="material-icons star-icon">star</span>
        {{ movie.rating }}
      </div>
    </div>
  </div>
</a>