:host {
  display: block;
}

:host a {
  text-decoration: none;
  color: inherit;
}

.movie-card {
  background-color: #2b2a33;
  border-radius: 8px;
  padding: 1rem;
  color: #ffffff;
  text-align: center;
  transition: transform 0.2s ease-in-out;

}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  border-radius: 6px;
  width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 0.5rem 0 0.3rem 0;
  font-size: 1.1rem;
}

.movie-card p {
  margin: 0.3rem 0;
  color: #cfcfcf;
  font-size: 0.875rem;
}

.tag-age {
  background-color: #ffbb33;
  color: #000;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  display: inline-block;
  margin-bottom: 0.3rem;
}

.stars {
  color: #f5c518;
}
