a {
  text-decoration: none; // Remove o sublinhado
  }
.movie-card {

  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  padding: 1rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h3 {

    font-size: 1.1rem;
    font-weight: bold;
    color: #1a202c;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    text-align: center;
  }

  p {
    font-size: 0.85rem;
    color: #6c757d;
    margin: 0.25rem 0;
    text-align: center;
  }
}
