    # Ambiente Virtual
    venv/

    # Ficheiros de Cache do Python
    __pycache__/
    *.pyc
    *.pyo
    *.pyd

    # Base de Dados SQLite
    app/db/popcorn.db

    # Ficheiros de IDE
    .vscode/
    .idea/
    