<div class="search-bar-div">
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
      placeholder="Buscar Filme..."
    />
    <span class="search-icon">🔍</span>
  </div>

  @if (searchQuery) {
    <div class="search-modal">
      <div><strong>Resultados para:</strong> "{{ searchQuery }}"</div>
      <ul>
        @for (movie of searchResults(); track movie.id) {
          <li><strong>{{ movie.title }}</strong></li>
        } @empty {
          <li>Nenhum filme encontrado.</li>
        }
      </ul>
    </div>
  }
</div>
