// Variáveis de cor
$color-background: #121212;
$color-text-primary: #FFFFFF;

.movie-list-container {
  background-color: $color-background;
  color: $color-text-primary;
  padding: 2rem;
  min-height: 100vh;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.movie-grid {
  display: grid;
  // CORREÇÃO: Reduz o tamanho mínimo de cada card para que mais caibam na linha
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem; // Reduzido o espaçamento para um visual mais compacto
}
