.movie-list-container {
  background-color: #1c1b22;
  color: #ffffff;
  padding: 20px;
  min-height: 100vh;
}



.movie-section h2 {
  margin-bottom: 1rem;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

