<div class="login-container">
  <div class="left-panel">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Pop&Corn Logo">
    </div>
    <p class="description">
      Com grandes <span class="highlight-yellow">COMBOS</span>, vêm grandes oportunidades.
    </p>
  </div>
  <div class="right-panel">
    <div class="login-card">
      <h2>Entrar no Pop&Corn</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
        <div class="form-group">
          <input 
            type="email" 
            name="email"
            placeholder="Email"
            [(ngModel)]="loginData.email"
            required
            email>
        </div>
        <div class="form-group">
          <input 
            type="password" 
            name="password"
            placeholder="Senha"
            [(ngModel)]="loginData.password"
            required>
        </div>
        
        <button type="submit" class="login-button" [disabled]="loginForm.invalid">Entrar</button>
        
        <a class="forgot-password-link" routerLink="/forgot-password">Esqueceu a senha?</a>
        
        <hr class="divider">
        
        <button type="button" class="register-button" [routerLink]="['/register']">Criar nova conta</button>
      </form>
    </div>
  </div>
</div>